li{
	list-style:none; 
}

body{
	overflow: hidden;
}

.detail_list{
	font-size: 14px;
}

.datail_left, .datail_right{
	height: 450px;
    width: 48.5%;
    margin: 10px 0 0 10px;
    float: left;
}

.left_head, .right_head{
	height: 40px;
	background-color: #D5E6F8;
}

.left_content{
	position: relative;
	height: 225px;
	border: 1px #e5e5e5 solid;
	font-size: 12px;
}

.delay_content {
    height: 130px;
	border: 1px #e5e5e5 solid;
	font-size: 12px;
}

.right_content{
	height: 412px;
	border: 1px #e5e5e5 solid;
	font-size: 12px;
	overflow: auto;
	overflow-x: hidden;
	position: relative;
}

.pro_left{
	float: left;
	position: relative;
    /* top: 10px; */
    left: 22px;
}

/* .pro_right{
	float: left;
} */

.pro_basic {
	height: 20px;
    margin: 10px 0 0 35px;
    padding: 0px 20px;
}

.head_pic{
	padding: 10px 0 0 10px;
	font-weight: bold;
}

.head_pic img{
	vertical-align: middle;
	margin-top: -3px;
}

.loadMore {
	text-align: center;
	margin-left: -8px;
    clear: both;
    padding-top: 10px;
}

.loadMore a{
	margin-top: 10px !important;
} 

.content_up{
	height: 205px;
   /*  width: 590px; */
    margin: 10px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.content_down{
	height: 110px;
   /*  width: 590px; */
    margin: 20px;
    background-color: #f6f6f6;
    border-radius: 10px;
}

.info_basic {
	/* width: 545px;  */
    height: 20px;
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: 1px #ddd solid;
}

.basic_left, .basic_middle{
	float: left;
}

.basic_middle{
	margin-left: 110px;
}

.basic_right{
	float: right;
}

.con_left{
	/* width: 540px; */
    margin: 0 20px;
    padding: 10px 0;
}  

.left_pic{
	padding: 15px 0;
    display: inline-block;
    float: left;
}

.left_pic img{
	padding: 0 6px;
    width: 100px;
    height: 100px;
}

.right_top{
    padding: 25px 0px 13px 0px;
}

.right_top li{
	padding: 0 20px;
}

.top_time{
	float: right;
}

.top_eva{
	margin-top: 10px;
	padding: 0 20px;
}



.pro_line{
    margin-left: 8px;	
}

.ps_con{
	font-size: 13px;
	margin-top: 5px;
}

.basic_mid{
	float: left;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}

.ps_pic{
 	padding: 0 10px 10px 0;
    display: inline-block;
}

.ps_pic img{
    width: 100px;
    height: 100px;
}

.close_button{
	padding: 0 30px !important;
	color: #333 !important;
	background-color: #e3e3e3 !important;
    border: 1px solid #e3e3e3 !important;
    padding: 0 30px !important;
}

.delay_con{
	margin: 10px 20px;
	line-height: 23px;
}
    
.repair{
	color: white;
    background-color: #FF4C2E;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

.complaint{
	color: white;
    background-color: #FF4C2E;
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 4px;
}



.pro_content{
	margin-left: 30px;
    padding: 0px 20px;
    border-left: 4px #e5e5e5 solid;
}

.eva_con{
/* 	width: 542px; */
	margin: 10px 0;
}

.content_left{
	 border-bottom: 1px #eee solid;
}

.new_pro{
	color: #6EC469;
}

.loadMore a {
    margin-top: 20px !important;
    color: #fff;
    background: #6ec469;
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    height: 24px;
    line-height: 24px;
    margin: 2px 0 2px 5px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    border: 1px solid #6ec469;
}

.close_button {
    padding: 0 30px !important;
    color: #333 !important;
    background-color: #e3e3e3 !important;
    border: 1px solid #e3e3e3 !important;
    padding: 0 30px !important;
}

.save_button {
    padding: 0 30px !important;
    color: #fff !important;
    background-color: #00B1BD !important;
    border: 1px solid #00B1BD !important;
    padding: 0 30px !important;
}










